@-webkit-keyframes curtain-left {
  0% {
    width: 60%;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0); }
  100% {
    -webkit-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -moz-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -ms-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -o-transform: matrix(1, 0, -0.2, 1, 0, 0);
    transform: matrix(1, 0, -0.2, 1, 0, 0);
    width: 0; } }
@-moz-keyframes curtain-left {
  0% {
    width: 60%;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0); }
  100% {
    -webkit-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -moz-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -ms-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -o-transform: matrix(1, 0, -0.2, 1, 0, 0);
    transform: matrix(1, 0, -0.2, 1, 0, 0);
    width: 0; } }
@-ms-keyframes curtain-left {
  0% {
    width: 60%;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0); }
  100% {
    -webkit-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -moz-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -ms-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -o-transform: matrix(1, 0, -0.2, 1, 0, 0);
    transform: matrix(1, 0, -0.2, 1, 0, 0);
    width: 0; } }
@keyframes curtain-left {
  0% {
    width: 60%;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0); }
  100% {
    -webkit-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -moz-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -ms-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -o-transform: matrix(1, 0, -0.2, 1, 0, 0);
    transform: matrix(1, 0, -0.2, 1, 0, 0);
    width: 0; } }
@-webkit-keyframes curtain-right {
  0% {
    width: 60%;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0); }
  100% {
    -webkit-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    transform: matrix(-1, 0, 0.2, 1, 0, 0);
    width: 0; } }
@-moz-keyframes curtain-right {
  0% {
    width: 60%;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0); }
  100% {
    -webkit-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    transform: matrix(-1, 0, 0.2, 1, 0, 0);
    width: 0; } }
@-ms-keyframes curtain-right {
  0% {
    width: 60%;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0); }
  100% {
    -webkit-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    transform: matrix(-1, 0, 0.2, 1, 0, 0);
    width: 0; } }
@keyframes curtain-right {
  0% {
    width: 60%;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0); }
  100% {
    -webkit-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    transform: matrix(-1, 0, 0.2, 1, 0, 0);
    width: 0; } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
    visibility: visible; }
  99.99% {
    opacity: 0;
    display: block;
    visibility: visible; }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden; } }
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
    visibility: visible; }
  99.99% {
    opacity: 0;
    display: block;
    visibility: visible; }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden; } }
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
    visibility: visible; }
  99.99% {
    opacity: 0;
    display: block;
    visibility: visible; }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden; } }
@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
    visibility: visible; }
  99.99% {
    opacity: 0;
    display: block;
    visibility: visible; }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden; } }
@-webkit-keyframes fadeOutSpotLight {
  0% {
    top: 0;
    opacity: 1;
    display: block;
    visibility: visible; }
  99.99% {
    top: 0;
    opacity: 0;
    display: block;
    visibility: visible; }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
    top: 100%; } }
@-moz-keyframes fadeOutSpotLight {
  0% {
    top: 0;
    opacity: 1;
    display: block;
    visibility: visible; }
  99.99% {
    top: 0;
    opacity: 0;
    display: block;
    visibility: visible; }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
    top: 100%; } }
@-ms-keyframes fadeOutSpotLight {
  0% {
    top: 0;
    opacity: 1;
    display: block;
    visibility: visible; }
  99.99% {
    top: 0;
    opacity: 0;
    display: block;
    visibility: visible; }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
    top: 100%; } }
@keyframes fadeOutSpotLight {
  0% {
    top: 0;
    opacity: 1;
    display: block;
    visibility: visible; }
  99.99% {
    top: 0;
    opacity: 0;
    display: block;
    visibility: visible; }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
    top: 100%; } }
#stage #curtains_input:checked ~ #label_curtains #curtain-left, #stage #curtains_input:checked ~ #label_curtains #curtain-right, #stage #curtains_input:checked ~ #label_curtains, #stage #curtains_input:checked ~ #label_curtains #spotlight {
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-play-state: running; }

#curtain-left, #curtain-right, #spotlight {
  animation-play-state: paused; }

#stage #curtains_input:checked ~ #label_curtains #curtain-left {
  -webkit-animation-name: curtain-left;
  -moz-animation-name: curtain-left;
  -ms-animation-name: curtain-left;
  -o-animation-name: curtain-left;
  animation-name: curtain-left; }

#stage #curtains_input:checked ~ #label_curtains #curtain-right {
  -webkit-animation-name: curtain-right;
  -moz-animation-name: curtain-right;
  -ms-animation-name: curtain-right;
  -o-animation-name: curtain-right;
  animation-name: curtain-right; }

#stage #curtains_input:checked ~ #label_curtains {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut; }

#stage #curtains_input:checked ~ #label_curtains #spotlight {
  -webkit-animation-name: fadeOutSpotLight;
  -moz-animation-name: fadeOutSpotLight;
  -ms-animation-name: fadeOutSpotLight;
  -o-animation-name: fadeOutSpotLight;
  animation-name: fadeOutSpotLight; }

#stage #curtains_input:checked ~ #label_curtains {
  animation-delay: 1s; }

.input__hidden {
  display: none;
  visibility: hidden; }

#curtain-right {
  right: 0;
  margin-right: -10%;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0); }

#stage {
  height: 100%;
  background: black; }

.curtain {
  position: fixed;
  top: 0px;
  background: -moz-linear-gradient(right, rgba(0, 0, 0, 0), #4d4d4d, rgba(51, 51, 51, 0.993), #4d4d4d), -moz-linear-gradient(right, rgba(51, 51, 51, 0.997), rgba(77, 77, 77, 0.999), rgba(51, 51, 51, 0.998));
  background: -o-linear-gradient(right, rgba(0, 0, 0, 0), #4d4d4d, rgba(51, 51, 51, 0.993), #4d4d4d), -o-linear-gradient(right, rgba(51, 51, 51, 0.997), rgba(77, 77, 77, 0.999), rgba(51, 51, 51, 0.998));
  background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), #4d4d4d, rgba(51, 51, 51, 0.993), #4d4d4d), -webkit-linear-gradient(right, rgba(51, 51, 51, 0.997), rgba(77, 77, 77, 0.999), rgba(51, 51, 51, 0.998));
  background: linear-gradient(right, rgba(0, 0, 0, 0), #4d4d4d, rgba(51, 51, 51, 0.993), #4d4d4d), linear-gradient(right, rgba(51, 51, 51, 0.997), rgba(77, 77, 77, 0.999), rgba(51, 51, 51, 0.998));
  background-size: 67px 67px, 53px 53px;
  width: 60%;
  height: 100%;
  margin-left: -10%;
  transition: width 2s, -webkit-transform 1s;
  z-index: 30;
  will-change: transform; }

.spotlight {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 40;
  background: -moz-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 60%), -moz-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 40%);
  background: -o-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 60%), -o-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 40%);
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 60%), -webkit-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 40%);
  background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 60%), radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 40%);
  background-attachment: fixed;
  background-position: -80px 0, 80px 0;
  will-change: opacity; }

/*# sourceMappingURL=curtains_styles.css.map */
