@-webkit-keyframes curtain-left {
  0% {
    width: 60%;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0); }
  100% {
    -webkit-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -moz-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -ms-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -o-transform: matrix(1, 0, -0.2, 1, 0, 0);
    transform: matrix(1, 0, -0.2, 1, 0, 0);
    width: 0; } }
@-moz-keyframes curtain-left {
  0% {
    width: 60%;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0); }
  100% {
    -webkit-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -moz-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -ms-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -o-transform: matrix(1, 0, -0.2, 1, 0, 0);
    transform: matrix(1, 0, -0.2, 1, 0, 0);
    width: 0; } }
@-ms-keyframes curtain-left {
  0% {
    width: 60%;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0); }
  100% {
    -webkit-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -moz-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -ms-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -o-transform: matrix(1, 0, -0.2, 1, 0, 0);
    transform: matrix(1, 0, -0.2, 1, 0, 0);
    width: 0; } }
@keyframes curtain-left {
  0% {
    width: 60%;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0); }
  100% {
    -webkit-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -moz-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -ms-transform: matrix(1, 0, -0.2, 1, 0, 0);
    -o-transform: matrix(1, 0, -0.2, 1, 0, 0);
    transform: matrix(1, 0, -0.2, 1, 0, 0);
    width: 0; } }
@-webkit-keyframes curtain-right {
  0% {
    width: 60%;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0); }
  100% {
    -webkit-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    transform: matrix(-1, 0, 0.2, 1, 0, 0);
    width: 0; } }
@-moz-keyframes curtain-right {
  0% {
    width: 60%;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0); }
  100% {
    -webkit-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    transform: matrix(-1, 0, 0.2, 1, 0, 0);
    width: 0; } }
@-ms-keyframes curtain-right {
  0% {
    width: 60%;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0); }
  100% {
    -webkit-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    transform: matrix(-1, 0, 0.2, 1, 0, 0);
    width: 0; } }
@keyframes curtain-right {
  0% {
    width: 60%;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0); }
  100% {
    -webkit-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0.2, 1, 0, 0);
    transform: matrix(-1, 0, 0.2, 1, 0, 0);
    width: 0; } }
#curtain-right {
  right: 0;
  margin-right: -10%;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0); }

#stage {
  height: 100%;
  background: black; }

.curtain {
  position: fixed;
  top: 0px;
  background: -moz-linear-gradient(right, rgba(0, 0, 0, 0), #4d4d4d, rgba(51, 51, 51, 0.993), #4d4d4d), -moz-linear-gradient(right, rgba(51, 51, 51, 0.997), rgba(77, 77, 77, 0.999), rgba(51, 51, 51, 0.998));
  background: -o-linear-gradient(right, rgba(0, 0, 0, 0), #4d4d4d, rgba(51, 51, 51, 0.993), #4d4d4d), -o-linear-gradient(right, rgba(51, 51, 51, 0.997), rgba(77, 77, 77, 0.999), rgba(51, 51, 51, 0.998));
  background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), #4d4d4d, rgba(51, 51, 51, 0.993), #4d4d4d), -webkit-linear-gradient(right, rgba(51, 51, 51, 0.997), rgba(77, 77, 77, 0.999), rgba(51, 51, 51, 0.998));
  background: linear-gradient(right, rgba(0, 0, 0, 0), #4d4d4d, rgba(51, 51, 51, 0.993), #4d4d4d), linear-gradient(right, rgba(51, 51, 51, 0.997), rgba(77, 77, 77, 0.999), rgba(51, 51, 51, 0.998));
  background-size: 67px 67px, 53px 53px;
  width: 60%;
  height: 100%;
  margin-left: -10%;
  transition: width 2s, -webkit-transform 1s;
  z-index: 30; }

.spotlight {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 40;
  background: -moz-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 60%), -moz-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 40%);
  background: -o-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 60%), -o-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 40%);
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 60%), -webkit-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 40%);
  background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 60%), radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 40%);
  background-attachment: fixed;
  background-position: -80px 0, 80px 0; }

/*# sourceMappingURL=curtains_styles.css.map */
